<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/two-link-style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <a href="document1" class="left-block block">
            <img src="../static/images/human.svg" alt="">
            <img src="../static/images/russia.png" alt="">
        </a>
        <a href="document2" class="right-block block">
            <img src="../static/images/russia.png" alt="">
            <img src="../static/images/human.svg" alt="">
        </a>
    </div>
</body>
</html>